# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db


# composer itself is not needed
composer.phar
composer.lock

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# ignore temp files
*.php~

#ignore local yii files
/web/assets/*
/web/uploads/*
/web/runtime/*
/vendor/*
# ignore db.php since it should be compied from environ-samples
/config/db.h
#ignore db.
