body {
  font-family: "Source Sans Pro", sans-serif;
  color: #656565;
}
h1,
h2,
h3,
h4 {
  font-weight: bold;
}

html {
  height: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
html,
body {
  height: 100%;
}

.wrapper {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
}
.wrapper > section {
  position: relative;
  height: 100%;
  margin-left: 0;
  z-index: 111;
  background-color: #f5f7fa;
  margin-bottom: 60px !important;
}
.content-wrapper {
  padding: 15px;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  margin-top: -1px;
}

/* ========================================================================
   Component: panels.less
 ========================================================================== */
.panel .table {
  margin-bottom: 0;
  border: 0;
}
.panel.panel-transparent {
  border: 0;
  background-color: transparent;
  box-shadow: 0 0 0 #000;
}
.panel.panel-transparent .panel-heading,
.panel.panel-transparent .panel-body {
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
}
.panel-flat {
  margin: 0 !important;
  border: 0;
}
.panel-group .panel-flat {
  box-shadow: 0 0 0 #000;
}
.panel-group .panel-flat:first-child {
  border-radius: 4px 4px 0 0;
}
.panel-group .panel-flat:last-child {
  border-radius: 0 0 4px 4px;
}
.panel-heading > a[data-tool] {
  display: inline-block;
  color: #fff;
  width: 2em;
  text-align: center;
}
.panel-default .panel-heading > a[data-tool] {
  color: #c1c2c3;
}
.panel-heading > .label.pull-right {
  margin-top: 3px;
}
.panel-heading > .label.pull-right + .label.pull-right {
  margin-right: 10px;
}
.panel-heading.panel-heading-collapsed {
  border-radius: 3px;
}
.panel-footer .pagination {
  margin: 0;
}
.panel-footer .radial-bar {
  margin-bottom: 0;
}
.panel-footer p {
  margin-bottom: 0;
}
.panel-heading-active {
  background-color: #27c24c !important;
  font-weight: bold;
  font-size: 16px;
}
.panel-heading-active > a {
  padding: 15px 0;
  color: #fff !important;
  -webkit-transition: padding 0.5s ease;
  -o-transition: padding 0.5s ease;
  transition: padding 0.5s ease;
}
.panel-heading-active + .panel-collapse:after {
  content: "";
  display: block;
  width: 60%;
  margin: 0 auto;
  height: 0;
  border-bottom: 1px solid #e1e2e3;
}

.btn-panel-heading{
    margin-top: -5px;
    margin-right: -5px;
}

.panel-inverse {
  border-color: #cfdbe2;
}
.panel-inverse > .panel-heading {
  color: #ffffff;
  background-color: #131e26;
  border-color: #131e26;
}
.panel-inverse > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #cfdbe2;
}
.panel-inverse > .panel-heading .badge {
  color: #131e26;
  background-color: #ffffff;
}
.panel-inverse > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #cfdbe2;
}
.panel-green {
  border-color: #cfdbe2;
}
.panel-green > .panel-heading {
  color: #ffffff;
  background-color: #37bc9b;
  border-color: #37bc9b;
}
.panel-green > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #cfdbe2;
}
.panel-green > .panel-heading .badge {
  color: #37bc9b;
  background-color: #ffffff;
}
.panel-green > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #cfdbe2;
}
.panel-pink {
  border-color: #cfdbe2;
}
.panel-pink > .panel-heading {
  color: #ffffff;
  background-color: #f532e5;
  border-color: #f532e5;
}
.panel-pink > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #cfdbe2;
}
.panel-pink > .panel-heading .badge {
  color: #f532e5;
  background-color: #ffffff;
}
.panel-pink > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #cfdbe2;
}
.panel-purple {
  border-color: #cfdbe2;
}
.panel-purple > .panel-heading {
  color: #ffffff;
  background-color: #7266ba;
  border-color: #7266ba;
}
.panel-purple > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #cfdbe2;
}
.panel-purple > .panel-heading .badge {
  color: #7266ba;
  background-color: #ffffff;
}
.panel-purple > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #cfdbe2;
}
.panel-dark {
  border-color: #cfdbe2;
}
.panel-dark > .panel-heading {
  color: #ffffff;
  background-color: #3a3f51;
  border-color: #3a3f51;
}
.panel-dark > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #cfdbe2;
}
.panel-dark > .panel-heading .badge {
  color: #3a3f51;
  background-color: #ffffff;
}
.panel-dark > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #cfdbe2;
}

/* ========================================================================
   Component: nestable.less
 ========================================================================== */
.dd {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  max-width: 600px;
  list-style: none;
  font-size: 13px;
  line-height: 20px;
}
.dd-list {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
.dd-list .dd-list {
  padding-left: 30px;
}
.dd-collapsed .dd-list {
  display: none;
}
.dd-item,
.dd-empty,
.dd-placeholder {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 20px;
  font-size: 13px;
  line-height: 20px;
}
.dd-handle {
  display: block;
  margin: 5px 0;
  padding: 10px 10px;
  text-decoration: none;
  border: 1px solid #ebebeb;
  background: #fff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.dd-handle:hover {
  background: #94cf8b!important;
}
.dd-handle:active{

  background: #a5e79b!important;
}
.dd-item > button {
  display: block;
  position: relative;
  cursor: pointer;
  float: left;
  width: 25px;
  height: 30px;
  margin: 5px 0;
  padding: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  background: transparent;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  font-weight: bold;
}
.dd-item > button:before {
  content: '+';
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  text-indent: 0;
}
.dd-item > button[data-action="collapse"]:before {
  content: '-';
}
.dd-placeholder,
.dd-empty {
  margin: 5px 0;
  padding: 0;
  min-height: 30px;
  background: #f2fbff;
  border: 1px dashed #b6bcbf;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.dd-empty {
  border: 1px dashed #bbb;
  min-height: 100px;
  background-color: #e5e5e5;
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}
.dd-dragel {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
}
.dd-dragel > .dd-item .dd-handle {
  margin-top: 0;
}
.dd-dragel .dd-handle {
  -webkit-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
}
/**
 * Nestable Extras
 */
.nestable-lists {
  display: block;
  clear: both;
  padding: 30px 0;
  width: 100%;
  border: 0;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
}
@media only screen and (min-width: 700px) {
  .dd + .dd {
    margin-left: 2%;
  }
}
.dd-hover > .dd-handle {
  background: #2ea8e5 !important;
}